main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/78792.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo{
    height: 250px;
    width: auto;
}

#logo-lateral{
    height: 50px;
    width: auto;
}