body {
    overflow-x: hidden;
}


.navbar-logo {
    height: 70px;
}
.custom-carousel {
    width: 50%;
    margin: 0 5px; 
}
.me-5 {
    margin-right: 2rem !important;
}
.ms-5{
    margin-left: -3rem!important;
    margin-top: 10rem !important;

}
.ms-4{
    margin-top: 0.2rem!important;
}
.custom-carousel .carousel-inner {
    width: 100%;
    max-height: 300px;
}

.custom-carousel .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-inner {
    border: 2px solid #000000;
    border-radius: 5px;
}

.custom-control-prev, .custom-control-next {
    width: 5%;
}

.custom-control-prev {
    left: 5%;
}

.custom-control-next {
    right: 5%;
}

.custom-control-prev02 {
    left: 50px;
}

.custom-control-next02 {
    right: -13%;
}


.card-title {
    width: 100px;
    color: #696868;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    padding: 5px;
}

.icon-phone {
    width: 24px;
    height: 24px;
}

.element-phone {
    margin-top: -5px;
}

.container-icon {
    margin-top: -50px;
}

.icon-whatsapp:hover {
    fill: #25D366;
}

.icon-email:hover {
    fill:#5e5e5e;
}

.container-owner img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.fw-bold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-card {
    margin-top: -305px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container-icons svg,
.container-icons2 svg,
.container-icons3 svg,
.container-icons4 svg{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.container-icons p,
.container-icons2 p,
.container-icons3 p,
.container-icons4 p {
    margin: 0;
    font-size: 14px;
}

.container-icons li,
.container-icons2 li,
.container-icons3 li,
.container-icons4 li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

.container-icons ul,
.container-icons2 ul,
.container-icons3 ul,
.container-icons4 ul {
    padding: 0;
    margin: 0;
}

.container-icons2 {
    margin-left: 220px;
    margin-top: -70px;
}

.container-icons3 {
    margin-left: 430px;
    margin-top: -70px;
}

.container-icons4 {
    margin-left: 670px;
    margin-top: -70px;
}

.container-card2 {
    margin-top: -140px;
}

.carousel-inner {
    margin-left: 70px;
}

hr {
    margin-top: 20px;
    width: 850px;
}

footer {
    bottom: -100px;
    
}

.container-icon-footer {
    margin-top: -40px;
}
/* General Reset */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .custom-carousel {
        width: 90%;
        
        margin-left: 2rem !important;
    }

    .custom-carousel .carousel-inner {
        max-height: 200px;
    }

    .custom-control-prev, .custom-control-next {
        width: 10%;
    }

    .custom-control-prev {
        left: 30%;
    }

    .custom-control-next {
        right: 10px;
    }

    .custom-control-prev02, .custom-control-next02 {
        left: 10px;
        right: 10px;
    }


    .container-icon {
        margin-top: -20px;
    }

    .container-card {
        margin-top: 5px;
        height: 36rem;
    }

    .container-icons2, .container-icons3, .container-icons4 {
        margin-left: 0;
        margin-top: 10px;
    }

    .container-card2 {
        margin-top: 70px;
        height: 30rem;
    }
    .card{
        height: 40.5rem!important;
    }

    .carousel-inner {
        margin-left: 0;
    }

    hr {
        width: 100%;
    }

    footer {
        margin-top: 50px;
    }

    .container-icon-footer {
        margin-top: 0;
    }
}

/* Styles for Larger Screens */
@media (min-width: 769px) {
    .custom-carousel {
        width: 50%;
        margin: 0 auto; 
    }

    .custom-carousel .carousel-inner {
        width: 100%;
        max-height: 300px;
    }

    .custom-control-prev, .custom-control-next {
        width: 5%;
    }

    .custom-control-prev {
        left: 5%;
    }

    .custom-control-next {
        right: 5%;
    }

    .custom-control-prev02 {
        left: 50px;
    }

    .custom-control-next02 {
        right: -13%;
    }

    .card-title {
        width: 100px;
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .container-icon {
        margin-top: -50px;
    }

    .container-card {
        margin-top: -305px;
    }

    .container-icons2 {
        margin-left: 220px;
        margin-top: -70px;
    }

    .container-icons3 {
        margin-left: 430px;
        margin-top: -70px;
    }

    .container-icons4 {
        margin-left: 670px;
        margin-top: -70px;
    }

    .container-card2 {
        margin-top: -140px;
    }

    .carousel-inner {
        margin-left: 70px;
    }

    hr {
        width: 850px;
    }

    footer {
        margin-top: 100px;
    }

    .container-icon-footer {
        margin-top: -40px;
    }
}
