main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/78792.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}